* {

}
html, body{
    height:100%;
    min-height:100%;
}
#public{
    background: url(/server/media/backgrounds/08.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-transition: all 500ms ease-in 200ms;
    -moz-transition: all 500ms ease-in 200ms;
    -o-transition: all 500ms ease-in 200ms;
    transition: all 500ms ease-in 200ms;

}


.card_signup{
    background: hsla(0,0%,100%, 0.85);
}
.card_signup .md-button{
    background: hsla(0,0%,100%, 0.5);
}

.md-error{
    color: darkred;
}
