
#team-vertical_container{
    position:absolute;
    margin: 0 auto;
    width: 100%;
}


.news_teams md-list-item .md-list-item-text span{
    color: grey;
}
.news_teams md-list-item .md-list-item-text{
    padding: 4px 0 ;
}
.news_teams md-list-item:not(:last-child){
    border-bottom: 1px solid lightblue;
}
md-list-item.active{
    border-left: 8px solid lightblue;
    background: hsl(0,0%,90%);
}
md-list-item.child{
    margin-left: 20px;
}

.news_teams md-list-item.active{
   /* background: hsl(200, 50%, 90%);*/
}
.news_teams .unread .md-list-item-text span{
    font-weight: bold;
    color: #111;
}

.news_teams_single md-list-item{

}
.news_teams_single md-list-item:not(:last-child){
    border-bottom: 1px dashed grey;
}
.news_teams_single md-list-item h3{
    font-weight: bold;
    margin:0;
}
.news_teams_single md-list-item p{
    margin-left: 10px;
}
.news_teams_single md-list-item .send{
    color: grey;
    font-style: italic;
}
.news_teams_single md-list-item .send>div{
    padding: 0
}

.cropperPreview{
    min-width:100px;
    min-height: 100px;
    height: 200px;
    border-radius:50%;
    border:1px solid grey;
    overflow: hidden;

}
.cropperPreview_rectangle{
    min-width:100px;
    min-height: 100px;
    height: 200px;
    border:1px solid grey;
    overflow: hidden;
}
.cropperPreview img,.cropperPreview_rectangle img{
    min-width:100px;
    min-height: 100px;
}


/* Force same height as width , margin belongs to setted width */
.cropperPreview:after{
    content: '';
    display: block;
    margin-top: 100%;
}
.cropperWrapper{
    width:100%;
}
.cropperWrapper img{
    max-width:100%;
}
.md-success{
    color: limegreen;
}
.md-error{
    color: darkred;
}

#dialog_orderCreate {
    height: 90vh;
}
#dialog_orderCreate #dialogContent_dialog_orderCreate,#dialog_orderCreate #dialogContent_dialog_orderCreate md-tabs{
    height:100%;
}
#dialogContent_dialog_teamCreate md-tabs-content-wrapper{
    overflow:scroll;
    max-height:90vh;
}
.menu_customer li{
    font-size:12px;
    height: 30px;
    line-height: 30px;
}
.user-avatar {
    border-radius: 99%;
}

.image_border_double{
    padding:2px;
    border:1px dashed #111;
    background-color:#ddd;

}
.inactive {
    color: #aaa
}
/* Select*/
md-option md-icon{
    text-align: center;
}
.depth_1{
    border-top: 1px dashed grey;
}
.depth_2{
    padding-left:30px;
}
.depth_3{
    padding-left:60px;
}
/* TABLE */
.table-striped tbody tr:nth-child(odd) {
      background-color: rgba(255,255,255,0.3)
}
.table-bordered{
    border-collapse: collapse;
}
.table-bordered thead{
    font-size:12px;
    border: none;
}
.table-bordered tbody{
    border: 1px solid #333333;
}
.table-bordered tbody>tr{
    border: 1px solid lightgrey;
}
.table-bordered tbody td {
   padding: 0 2px;
}
.table-bordered tbody td input{
    max-width:100%;
    width:95%;
}
.table-bordered tbody td md-select{
    margin:0
}
.table-bordered  th:not(first-child){
    border-left: 1px solid grey;
}
.table-th-dark{
    background: linear-gradient(0, black, grey);
    color: white !important;
    height: 20px;
    padding: 4px 8px;
    font-weight: lighter;
    margin: 0;
}

.border-all-solid-grey{
    border: 1px solid lightgrey;
}

/* buttons */
.md-button.md-button-small{
    min-width:40px;
}

/* */
.logistic-orders .md-card-image{
    max-width: 200px;
}

.text-right{
    text-align: right;
}


[ng-click]{
    cursor: pointer;
}
md-icon svg {
    fill: inherit;
}
md-list-item.header{
    border-bottom: 1px solid grey
}

md-icon md-badge{
    margin: 0 0 0 8px;
    background-color: #259b24;
    color: white;
    padding: 2px 4px;
    border-radius: 4px;
}
md-sidenav md-badge{

    margin-left: 10px;
    background-color: rgb(255,64,129);
    color: white;
    padding: 2px 3px;
    border-radius: 50%;
    width: auto;
    min-width:20px;

    height: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}


