<md-toolbar class="md-hue-3">
    <div class="md-toolbar-tools">
        <h3 flex>
            <md-button class="md-icon-button" ui-sref="protected.logistik.orders">
                <md-icon>keyboard_backspace</md-icon>
            </md-button>

            {{toolCtrl.logistic.order.id | numberFixedLen:6}} - Artikel hinzufügen</h3>

        <md-menu md-position-mode="target-right target">
            <md-button ng-click="$mdMenu.open($event)" aria-label="Open User Menu"  class="md-icon-button">
                <md-icon> more_vert </md-icon>
            </md-button>
            <md-menu-content width="4" >
                <md-menu-item>

                </md-menu-item>

            </md-menu-content>
        </md-menu>
    </div>

</md-toolbar>

<md-card>
    <md-card-header>
            <alt-avatar
                    ng-if="toolCtrl.logistic.order.updated == true"
                    data-color="{{toolCtrl.logistic.order.keyaccount_avatar_alt}}"
                    data-text="{{toolCtrl.logistic.order.customer_name}}"
                    data-filepath="/client/media/customer_logo/{{toolCtrl.logistic.order.logo}}">
            </alt-avatar>
        <md-card-header-text>
            <span class="md-title">{{toolCtrl.logistic.order.customer_name}} </span>
            <span class="md-subhead">{{toolCtrl.logistic.order.created | date : 'dd.MM.yyyy'}}</span>
        </md-card-header-text>
    </md-card-header>
    <md-card-content >
        <md-button class="md-raised  md-accent" aria-label="create team" ng-click="toolCtrl.logistic.locals.addArticle = true">
            <md-icon>edit</md-icon>
            einzelnen Artikel hinzufügen
        </md-button>
        <form ng-if="toolCtrl.logistic.locals.addArticle" ng-submit="toolCtrl.logistic.locals.submit.addArticle_toModel()" name="addArticle_single">

            <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Artikelnummer</label>
                    <input ng-model="toolCtrl.logistic.input.article_single.articlenumber" required ng-trim="true" autofocus>
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                    <label>Scancode</label>
                    <input ng-model="toolCtrl.logistic.input.article_single.scancode" ng-trim="true">
                    <md-tooltip>Falls leer, wird die Artikelnummer als Scancode übernommen</md-tooltip>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Prozess</label>
                    <select-table source="process" selected="toolCtrl.logistic.input.article_single.process"></select-table>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>WG</label>
                    <select-table source="wg" selected="toolCtrl.logistic.input.article_single.wg"></select-table>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Geschlecht</label>
                    <select-table source="gender" selected="toolCtrl.logistic.input.article_single.gender"></select-table>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm ng-repeat="commentitem in toolCtrl.logistic.locals.commenttypes_selected">
                        <md-icon class="md-accent" ng-click="toolCtrl.logistic.locals.commenttypes_selected.splice(toolCtrl.logistic.locals.commenttypes_selected.indexOf(commentitem),1)">
                            <md-tooltip>{{commentitem.name}}-Kommentar entfernen</md-tooltip>
                            delete
                        </md-icon>
                    <label>{{commentitem.name}}</label>
                    <input ng-model="toolCtrl.logistic.input.article_single.info[commentitem.identifier]" ng-trim="true">

                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>

                    <md-menu ng-if="toolCtrl.logistic.locals.commenttypes">
                        <md-button aria-label="Open phone interactions menu" class="md-icon-button"  ng-click="$mdOpenMenu($event)">
                            <md-icon md-menu-origin>
                                comment
                            </md-icon>
                            <md-tooltip>Kommentar hinzufügen</md-tooltip>
                        </md-button>
                        <md-menu-content width="4">
                            <md-menu-item ng-repeat="item in toolCtrl.logistic.locals.commenttypes " >
                                <md-button aria-label="{{item.name}}" ng-click="toolCtrl.logistic.locals.commenttypes_selected.push(item)">
                                    <md-icon aria-label="{{item.name}}">add</md-icon>
                                    {{item.name}}
                                </md-button>
                            </md-menu-item>

                        </md-menu-content>
                    </md-menu>
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm="10">
                    <md-button type="button" class="md-fab md-mini md-accent" button-submit ng-disabled="addArticle_single.$invalid">
                        <md-icon>add</md-icon>
                    </md-button>
                </md-input-container>

            </div>

        </form>
    </md-card-content>
</md-card>


<md-card>
    <md-table-container  ng-if="toolCtrl.logistic.articles.length">
        <table md-table md-row-select ng-model="toolCtrl.logistic.articles" md-progress="promise">
            <thead md-head>
            <tr md-row>
                <th md-column md-order-by="articlenumber"><span>Artikelnummer</span></th>
                <th md-column><span>Scancode</span></th>
                <th md-column><span>Prozess</span></th>
                <th md-column><span>WG</span></th>
                <th md-column><span>Geschlecht</span></th>
                <th md-column><span>Info</span></th>
            </tr>
            </thead>
            <tbody md-body>
            <tr md-row  ng-repeat="row in toolCtrl.logistic.articles " >
                <td md-cell>{{row.articlenumber}}</td>
                <td md-cell>{{row.scancode}}</td>
                <td md-cell>{{row.process}}</td>
                <td md-cell>{{row.wg}}</td>
                <td md-cell>{{row.gender}}</td>
                <td md-cell>
                        <span class="md-block" ng-repeat="comment in row.info">
                            {{comment}}
                        </span>
                </td>

            </tr>
            </tbody>
        </table>
    </md-table-container>
</md-card>

{{toolCtrl.logistic.locals}}
{{toolCtrl.logistic.input}}