
<md-card class="md-padding">
    <form ng-submit="toolCtrl.management.locals.submit.customersearch()" layout="row">
        <md-input-container class="md-block" flex>
            <label>Kundenname suchen</label>
            <md-icon>search</md-icon>
            <input name="customername" ng-model="toolCtrl.management.input.customername">
        </md-input-container>

        <div>
            <md-button class="md-raised md-primary" aria-label="search team" type="submit">
                <md-icon>send</md-icon>
            </md-button>
        </div>
    </form>
    <div ng-if="toolCtrl.management.searchResult.customers" layout="column">

        <div class="md-padding" ng-if="toolCtrl.management.searchResult.customers && !toolCtrl.management.searchResult.customers.length">
            <md-subhead >
                Es wurde kein Kunde gefunden.
            </md-subhead>
        </div>

        <div flex="100">
            <md-button class="md-fab md-mini " ng-click="toolCtrl.management.filter.customer.active= +!toolCtrl.management.filter.customer.active" aria-label="show hidden">
                <md-icon aria-label="show" ng-if="toolCtrl.management.filter.customer.active">visibility</md-icon>
                <md-tooltip  ng-if="toolCtrl.management.filter.customer.active">Inaktive Kunden anzeigen</md-tooltip>
                <md-icon aria-label="show" ng-if="!toolCtrl.management.filter.customer.active">visibility_off</md-icon>
                <md-tooltip  ng-if="!toolCtrl.management.filter.customer.active">Inaktive Kunden ausblenden</md-tooltip>
            </md-button>
        </div>

        <md-table-container  flex="100" ng-if="toolCtrl.management.searchResult.customers.length">
            <table md-table md-row-select ng-model="toolCtrl.management.tables.customers.model" md-progress="promise">
                <thead md-head md-order="toolCtrl.management.tables.customers.orderBy">
                <tr md-row>
                    <th md-column><span></span></th>
                    <th md-column md-order-by="name"><span>Kundenname</span></th>
                    <th md-column><span>Ansprechpartner</span></th>
                    <th md-column md-order-by="retouraddressCount"><span>Retouraddressen</span></th>
                </tr>
                </thead>
                <tbody md-body>
                <tr md-row
                    ng-repeat="row in toolCtrl.management.searchResult.customers
                        | orderBy: toolCtrl.management.tables.customers.orderBy
                        | filter: (toolCtrl.management.filter.customer.active ? {active: toolCtrl.management.filter.customer.active} : '' )"
                    ui-sref="protected.verwaltung.customers.edit({customerID: row.id})"
                    ng-class="row.active==0?'inactive':''" >
                    <td md-cell>
                        <alt-avatar data-color="200" data-text="{{row.name}}" data-filepath="{{(row.logo)?('/client/media/customer_logo/'+row.logo):''}}" ng-image-reload></alt-avatar>
                    </td>
                    <td md-cell>{{row.name}}</td>
                    <td md-cell>
                        <span  ng-repeat="user in row.users" >
                            <md-tooltip>{{user.prename}} {{user.lastname}}</md-tooltip>
                            <alt-avatar data-color="{{user.avatar_alt}}" data-text="{{user.prename}} {{user.lastname}}" data-filepath="{{user.avatar}}"></alt-avatar>
                        </span>
                    </td>
                    <td md-cell>{{row.retouraddressCount}}</td>

                </tr>
                </tbody>
            </table>
        </md-table-container>
        <data-md-table-pagination md-limit="20" md-page="toolCtrl.management.tables.customers.page" md-total="{{toolCtrl.management.searchResult.customers.length}}"></data-md-table-pagination>

    </div>


    <md-card-actions>
        <md-button class="md-raised  md-accent" aria-label="create team" ng-click="toolCtrl.management.locals.show_newCustomer = true">
            <md-icon>edit</md-icon>
            Kunden anlegen
        </md-button>

    </md-card-actions>
</md-card>
<md-card ng-if="toolCtrl.management.locals.show_newCustomer">
    <form name="newCustomer" ng-submit="toolCtrl.management.locals.submit.customer_add()">
    <md-card-title>
        <md-card-title-text>

            <md-input-container>
                <label>Kundenname</label>
                <input name="name" ng-model="toolCtrl.management.input.newCustomer.name" required>
                <div ng-messages="newCustomer.name.$error">
                    <div ng-message="required">This is required.</div>
                </div>
            </md-input-container>
            <md-input-container>
                <label>Zuumeo KeyAccount</label>
                <md-contact-chips
                        ng-model="toolCtrl.management.input.keyaccount"
                        md-contacts="toolCtrl.management.search_keyaccountusers($query)"
                        md-contact-name="name"
                        md-contact-image="avatar"
                        md-contact-email="username"
                        md-require-match="true"
                        md-highlight-flags="i"
                        md-min-length="2"
                        secondary-placeholder="Name eingeben">
                </md-contact-chips>
            </md-input-container>

            <imagecropper cropper="toolCtrl.management.cropper" input="toolCtrl.management.input.newCustomer" text-input-file="neues Kundenlogo"></imagecropper>
        </md-card-title-text>
    </md-card-title>
    <md-card-actions layout="row" layout-align="end center">
        <md-button type="submit" class="md-raised md-primary" ng-disabled="newCustomer.$invalid">
            <md-icon>check</md-icon> anlegen
        </md-button>
        <md-button class="md-raised md-warn" ng-click="toolCtrl.management.locals.show_newCustomer = false; toolCtrl.management.input_reset()">
            <md-icon>close</md-icon> abbrechen
        </md-button>
    </md-card-actions>
    </form>
</md-card>
