<md-toolbar class="md-hue-3">
    <div class="md-toolbar-tools">
        <h3 flex>
            <md-button class="md-icon-button" ui-sref="protected.verwaltung.customers.start">
                <md-icon>keyboard_backspace</md-icon>
            </md-button>
            {{toolCtrl.management.customer.name}} bearbeiten</h3>
        <md-button class="md-icon-button" aria-label="More">
            <md-icon>more_vert</md-icon>
        </md-button>
    </div>

</md-toolbar>
<md-tabs md-dynamic-height="" md-border-bottom>
    <md-tab label="stammdaten">
        <md-content class="md-padding">
            <md-card >
                <md-card-title>
                    <md-card-title-text>

                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <div layout="row">
                        <md-input-container>
                            <label>Kundenname</label>
                            <input ng-model="toolCtrl.management.customer.name" required>
                        </md-input-container>



                    </div>
                    <!--
                    <h3 class="md-headline">Rechnungsadresse</h3>
                    <div layout="row">
                        <md-input-container>
                            <label>Ansprechpartner</label>
                            <input ng-model="dialogCtrl.newCustomer.person">
                        </md-input-container>
                        <md-input-container>
                            <label>Strasse / Hausnummer</label>
                            <input ng-model="toolCtrl.management.customer.street">
                        </md-input-container>
                    </div>
                    <div layout="row">
                        <md-input-container>
                            <label>PLZ</label>
                            <input ng-model="toolCtrl.management.customer.postal">
                        </md-input-container>
                        <md-input-container>
                            <label>Ort</label>
                            <input ng-model="toolCtrl.management.customer.city">
                        </md-input-container>
                    </div>-->
                <md-card-content>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button class="md-raised md-warn" ng-click="dialogCtrl.newCustomer.show=false">
                        <md-icon>close</md-icon> abbrechen
                    </md-button>
                    <md-button ng-click="dialogCtrl.newCustomer.submit()" class="md-raised md-primary">
                        <md-icon>check</md-icon> speichern
                    </md-button>

                </md-card-actions>
            </md-card>
        </md-content>
    </md-tab>
    <md-tab label="keyaccount">
        <md-content class="md-padding">
            <md-card >
                <md-card-title>
                    <md-card-title-text>
                        KeyAccount suchen
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>

                        <div layout="row">
                            <md-input-container class="md-block md-icon-left flex" >
                                <md-icon class="material-icons">search</md-icon>

                                <md-contact-chips
                                        ng-model="toolCtrl.management.input.keyaccount"
                                        md-contacts="toolCtrl.management.search_keyaccountusers($query)"
                                        md-contact-name="name"
                                        md-contact-image="avatar"
                                        md-contact-email="username"
                                        md-require-match="true"
                                        md-highlight-flags="i"
                                        md-min-length="2"
                                        secondary-placeholder="KeyAccount-Mitarbeiter">
                                </md-contact-chips>
                            </md-input-container>


                            <div>
                                <md-button  class="md-raised md-primary" ng-if="toolCtrl.management.input.keyaccount.length<1">
                                    <md-icon>send</md-icon>
                                </md-button>
                                <md-button class="md-raised md-accent" ng-if="toolCtrl.management.input.keyaccount.length>0" ng-click="toolCtrl.management.locals.submit.keyaccount_add()">
                                    <md-icon>add</md-icon> hinzufügen
                                </md-button>
                            </div>

                        </div>

                        <md-list>
                            <md-list-item ng-repeat="user in toolCtrl.management.customer.users  track by user.id">
                                <span >
                                    <md-tooltip>{{user.prename}} {{user.lastname}}</md-tooltip>
                                    <alt-avatar data-color="{{user.avatar_alt}}" data-text="{{user.prename}} {{user.lastname}}" data-filepath="{{user.avatar}}"></alt-avatar>
                                </span>
                                <span flex>
                                    {{user.prename}} {{user.lastname}}
                                </span>

                                <md-button class="md-secondary md-accent" ng-click="toolCtrl.management.locals.submit.keyaccount_delete(user)">
                                    <md-icon aria-label="remove"  >delete</md-icon>
                                </md-button>
                            </md-list-item>
                        </md-list>
                </md-card-content>
            </md-card>
        </md-content>
    </md-tab>
    <md-tab label="retouradressen">
        <md-content class="md-padding">
            <md-card >
                <md-card-title>
                    <md-card-title-text>
                        <span>Retouradresse verwalten</span>
                        <md-button class="md-fab md-mini md-fab-top-right" ng-click="toolCtrl.management.retouraddress_switch_view()">
                            <md-icon aria-label="show" ng-if="toolCtrl.management.active">visibility</md-icon>
                            <md-tooltip  ng-if="toolCtrl.management.active">Inaktive Adressen anzeigen</md-tooltip>
                            <md-icon aria-label="show" ng-if="!toolCtrl.management.active">visibility_off</md-icon>
                            <md-tooltip  ng-if="!toolCtrl.management.active">Inaktive Adressen ausblenden</md-tooltip>
                        </md-button>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                        <md-list>
                            <md-list-item layout="row">
                                <span flex="30">
                                    <md-icon md-font-set="fa" md-font-icon="fa-road"></md-icon>
                                    <span>Strasse</span>
                                </span>
                                <span flex="25">
                                    <md-icon md-font-set="fa" md-font-icon="fa-map-signs"></md-icon>
                                    <span>Ort</span>
                                </span>
                                <span flex="25">
                                    <md-icon md-font-set="fa" md-font-icon="fa-user"></md-icon>
                                    <span>Ansprechpartner</span>
                                </span>
                                <span flex="20">
                                    <md-icon md-font-set="fa" md-font-icon="fa-info"></md-icon>
                                    <span>Kommentar</span>
                                </span>
                                <md-button class="md-secondary" ng-disabled="true">
                                    <md-icon aria-label="edit">edit</md-icon>
                                </md-button>
                                <md-button class="md-secondary" ng-disabled="true">
                                    <md-icon aria-label="remove">delete</md-icon>
                                </md-button>
                            </md-list-item>

                            <md-list-item ng-repeat="address in toolCtrl.management.customer.retouraddress  track by address.id">

                                <span flex="30">
                                    {{address.street}}
                                </span>
                                <span flex="25">
                                   {{address.postal}} {{address.city}}
                                </span>
                                <span flex="25">
                                   {{address.person}}
                                </span>
                                <span flex="20">
                                    {{address.comment}}-{{address.id}}
                                </span>
                                <md-switch class="md-primary" md-no-ink aria-label="Switch No Ink" ng-model="address.active" ng-true-value="1" ng-false-value="0" ng-change="toolCtrl.management.locals.submit.retouraddress_state(address)">
                                    {{address.active==1?'aktiv':'inaktiv'}}
                                </md-switch>
                                <md-button class="md-secondary md-accent md-button-small" ng-click="toolCtrl.management.locals.edit(address)">
                                    <md-icon aria-label="edit"  >edit</md-icon>
                                </md-button>
                                <md-button class="md-secondary md-accent md-button-small" ng-click="toolCtrl.management.locals.submit.retouraddress_delete(address)">
                                    <md-icon aria-label="remove"  >delete</md-icon>
                                </md-button>
                            </md-list-item>
                            <md-list-item ng-if="!toolCtrl.management.customer.retouraddress || toolCtrl.management.customer.retouraddress.length<1">
                                <span flex>
                                    Keine Retouradressen vorhanden
                                </span>
                            </md-list-item>
                        </md-list>
                </md-card-content>
            </md-card>
            <md-card id="management_customer_form">
                <md-card-title>
                    <md-card-title-text>
                        <span ng-if="!toolCtrl.management.input.retouraddress.id">Retouradresse anlegen</span>
                        <span ng-if="toolCtrl.management.input.retouraddress.id">Retouradresse bearbeiten</span>
                    </md-card-title-text>

                </md-card-title>
                <md-card-content>
                    <div layout="row">
                        <md-input-container>
                            <label>Ansprechpartner</label>
                            <input ng-model="toolCtrl.management.input.retouraddress.person">
                        </md-input-container>
                        <md-input-container>
                            <label>Strasse / Hausnummer</label>
                            <input ng-model="toolCtrl.management.input.retouraddress.street">
                        </md-input-container>
                    </div>
                    <div layout="row">
                        <md-input-container>
                            <label>PLZ</label>
                            <input ng-model="toolCtrl.management.input.retouraddress.postal">
                        </md-input-container>
                        <md-input-container>
                            <label>Ort</label>
                            <input ng-model="toolCtrl.management.input.retouraddress.city">
                        </md-input-container>
                    </div>
                    <div layout="row">
                        <md-input-container class="md-block">
                            <label>Kommentar</label>
                            <textarea ng-model="toolCtrl.management.input.retouraddress.comment" md-maxlength="150" rows="3" md-select-on-focus></textarea>
                            <input type="hidden" ng-model="toolCtrl.management.input.retouraddress.active">
                        </md-input-container>
                    </div>
                </md-card-content>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button ng-click="toolCtrl.management.input.retouraddress = {}" class="md-raised md-warn">
                        <md-icon>close</md-icon> abbrechen
                    </md-button>
                    <md-button ng-click="toolCtrl.management.locals.submit.retouraddress_add()" class="md-raised md-primary">
                        <md-icon>check</md-icon>
                        <span ng-if="toolCtrl.management.input.retouraddress.id">speichern</span>
                        <span ng-if="!toolCtrl.management.input.retouraddress.id">anlegen</span>
                    </md-button>
                </md-card-actions>
            </md-card>
        </md-content>
    </md-tab>
</md-tabs>
