
<md-card class="md-padding">
    <form ng-submit="toolCtrl.management.locals.submit.customersearch()" layout="row">
        <md-input-container class="md-block" flex>
            <label>Kundenname suchen</label>
            <md-icon>search</md-icon>
            <input name="customername" ng-model="toolCtrl.management.input.customername">
        </md-input-container>

        <div>
            <md-button class="md-raised md-primary" aria-label="search team" type="submit">
                <md-icon>send</md-icon>
            </md-button>
        </div>
    </form>
    <div ng-if="toolCtrl.management.searchResult" layout="column">

        <div class="md-padding" ng-if="!toolCtrl.management.searchResult.length">
            <md-subhead >
                Es wurde kein Kunde gefunden.
            </md-subhead>
        </div>
        <!--<md-table-container ng-if="toolCtrl.management.searchResult.length">
            <table md-table>
                <thead md-head>
                <tr md-row>
                   <th>Kundenname</th>
                    <th>KeyAccount</th>

                </tr>
                </thead>
                <tbody md-body>
                <tr md-row ng-repeat="row in toolCtrl.management.searchResult" class="text-right">
                    <td md-cell>
                        <span>{{row}}</span>
                    </td>
                    <td md-cell>
                        <alt-avatar data-color="{{row.userAvatarAlt}}" data-text="{{row.userAvatarText}}" data-filepath="{{row.userAvatar}}"></alt-avatar>
                    </td>
                </tr>
                </tbody>
            </table>
        </md-table-container>-->
        <md-list ng-if="toolCtrl.management.searchResult.length">
            <md-subheader class="md-no-sticky">Suchergebnis</md-subheader>

            <md-list-item layout="row">
                <md-button class="md-fab md-mini md-fab-top-right" ng-click="toolCtrl.management.filter.customer.active= +!toolCtrl.management.filter.customer.active" aria-label="show hidden">
                    <md-icon aria-label="show" ng-if="toolCtrl.management.filter.customer.active">visibility</md-icon>
                    <md-tooltip  ng-if="toolCtrl.management.filter.customer.active">Inaktive Kunden anzeigen</md-tooltip>
                    <md-icon aria-label="show" ng-if="!toolCtrl.management.filter.customer.active">visibility_off</md-icon>
                    <md-tooltip  ng-if="!toolCtrl.management.filter.customer.active">Inaktive Kunden ausblenden</md-tooltip>
                </md-button>

            </md-list-item>


            <md-list-item layout="row">

                <span style="width:50px">

                </span>
                <span flex="40">
                    <md-icon aria-label="edit">business</md-icon>
                    <span>Kundenname</span>
                </span>
                <span flex="30">
                    <md-icon md-font-set="fa" md-font-icon="fa-user"></md-icon>
                    <span>Ansprechpartner</span>
                </span>
                <span flex>

                </span>
            </md-list-item>
            <md-list-item
                    ng-repeat="row in toolCtrl.management.searchResult | filter: (toolCtrl.management.filter.customer.active ? {active: toolCtrl.management.filter.customer.active} : '' ) "
                    ui-sref="protected.verwaltung.customers.edit({customerID: row.id})" layout="row">
                <span style="width:50px">
                    <alt-avatar data-color="200" data-text="{{row.name}}" data-filepath="{{(row.logo)?('/client/media/customer_logo/'+row.logo):''}}" ng-image-reload></alt-avatar>
                </span>
                <span flex= "40" ng-class="row.active===0 ? 'inactive' : ''">
                    {{row.name}}
                </span>
                <span flex="30">
                    <span  ng-repeat="user in row.users" >
                        <md-tooltip>{{user.prename}} {{user.lastname}}</md-tooltip>
                        <alt-avatar data-color="{{user.avatar_alt}}" data-text="{{user.prename}} {{user.lastname}}" data-filepath="{{user.avatar}}"></alt-avatar>
                    </span>
                </span>
                <md-icon aria-label="Send Email" class="md-secondary md-hue-3" >build</md-icon>


            </md-list-item>
        </md-list>
    </div>


    <md-card-actions>
        <md-button class="md-raised  md-accent" aria-label="create team" ng-click="toolCtrl.management.locals.show_newCustomer = true">
            <md-icon>edit</md-icon>
            Kunden anlegen
        </md-button>

    </md-card-actions>
</md-card>
<md-card ng-if="toolCtrl.management.locals.show_newCustomer">
    <form name="newCustomer" ng-submit="toolCtrl.management.locals.submit.customer_add()">
    <md-card-title>
        <md-card-title-text>

            <md-input-container>
                <label>Kundenname</label>
                <input name="name" ng-model="toolCtrl.management.input.newCustomer.name" required>
                <div ng-messages="newCustomer.name.$error">
                    <div ng-message="required">This is required.</div>
                </div>
            </md-input-container>
            <md-input-container>
                <label>Zuumeo KeyAccount</label>
                <md-contact-chips
                        ng-model="toolCtrl.management.input.keyaccount"
                        md-contacts="toolCtrl.management.search_keyaccountusers($query)"
                        md-contact-name="name"
                        md-contact-image="avatar"
                        md-contact-email="username"
                        md-require-match="true"
                        md-highlight-flags="i"
                        md-min-length="2"
                        secondary-placeholder="Name eingeben">
                </md-contact-chips>
            </md-input-container>

            <imagecropper cropper="toolCtrl.management.cropper" input="toolCtrl.management.input.newCustomer" text-input-file="neues Kundenlogo"></imagecropper>
        </md-card-title-text>
    </md-card-title>
    <md-card-actions layout="row" layout-align="end center">
        <md-button type="submit" class="md-raised md-primary" ng-disabled="newCustomer.$invalid">
            <md-icon>check</md-icon> anlegen
        </md-button>
        <md-button class="md-raised md-warn" ng-click="toolCtrl.management.locals.show_newCustomer = false; toolCtrl.management.input_reset()">
            <md-icon>close</md-icon> abbrechen
        </md-button>
    </md-card-actions>
    </form>
</md-card>
