<html !Doctype html>
<head>

</head>
<body>
<h2>Willkommen bei dieser App</h2>
<p>Deine Registrierung war erfolgreich und du kannst dich nun einloggen.</p>
<p>Gewählter Nutzername: {{content.username}}</p>
</body>
</html>