 <md-sidenav md-is-locked-open="toolCtrl.sidebar.lockedOpen" class="md-whiteframe-4dp"  md-colors="{background: 'Background-100'}" md-component-id="menu-left" layout="column">
     <md-list flex>
         <md-list-item ui-sref="protected.dashboard" ui-sref-active="active">
             <md-icon>dashboard</md-icon>
             <span>Dashboard</span>
         </md-list-item>
         <md-list-item ui-sref="protected.news" ui-sref-active="active">
             <md-icon>textsms</md-icon>
             <span>News</span>
             <md-badge ng-show="toolCtrl.helpers.object_len(toolCtrl.news.unread)>0">{{toolCtrl.helpers.object_len(toolCtrl.news.unread)}}</md-badge>
         </md-list-item>
             <md-list-item ui-sref="protected.news.team.all" ui-sref-active="{'active': 'protected.news.team.*'}" class="child" ng-if="'protected.news' | includedByState">
                 <md-icon>people</md-icon>
                 <span>Teams</span>
                 <md-badge ng-show="toolCtrl.helpers.object_len(toolCtrl.news.unread)>0">{{toolCtrl.helpers.object_len(toolCtrl.news.unread)}}</md-badge>
             </md-list-item>
             <md-list-item ui-sref="protected.news.log_userIs.all" ui-sref-active="{'active': 'protected.news.log_userIs.*'}" class="child" ng-if="'protected.news' | includedByState">
                 <md-icon>receipt</md-icon>
                 <span>Aktivitäten</span>

             </md-list-item>
         <md-list-item ui-sref="protected.team" ui-sref-active="active">
             <md-icon>group</md-icon>
             <span>Team</span>
         </md-list-item>
         <md-divider ></md-divider>

         <md-list-item ui-sref="protected.logistik" ui-sref-active="active">
             <md-icon>store</md-icon>
             <span>Logistik</span>
         </md-list-item>
             <md-list-item ui-sref="protected.logistik.orders" ui-sref-active="active" class="child" ng-if="'protected.logistik' | includedByState">
                 <md-icon>assignment</md-icon>
                 <span>Auftrag</span>
             </md-list-item>
             <md-list-item ui-sref="protected.logistik.inbound" ui-sref-active="active" class="child inactive" ng-if="'protected.logistik' | includedByState" >
                 <md-icon>repeat</md-icon>
                 <span>Warenstrom</span>
             </md-list-item>
             <md-list-item ui-sref="protected.logistik.stockdata" ui-sref-active="active" class="child inactive" ng-if="'protected.logistik' | includedByState">
                 <md-icon>storage</md-icon>
                 <span>Stammdaten</span>
             </md-list-item>
             <md-divider ng-if="'protected.logistik' | includedByState"></md-divider>
         <md-list-item ui-sref="protected.produktion" ui-sref-active="active" class="inactive">
             <md-icon>memory</md-icon>
             <span>Produktion</span>
         </md-list-item>
         <md-list-item ui-sref="protected.operations" class="inactive">
             <md-icon>traffic</md-icon>
             <span>Operations</span>
         </md-list-item>
         <md-divider ></md-divider>
         <md-list-item ui-sref="protected.reporting" class="inactive">
             <md-icon>equalizer</md-icon>
             <span>Reporting</span>
         </md-list-item>
         <md-list-item ui-sref="protected.verwaltung" ui-sref-active="active">
             <md-icon>settings</md-icon>
             <span>Verwaltung</span>
         </md-list-item>
             <md-list-item ui-sref="protected.verwaltung.customers.start" ui-sref-active="{'active': 'protected.verwaltung.customers.*'}" class="child" ng-if="'protected.verwaltung' | includedByState">
                 <md-icon>recent_actors</md-icon>
                 <span>Kunden</span>
             </md-list-item>
             <md-list-item ui-sref="protected.verwaltung.users.start" ui-sref-active="{'active': 'protected.verwaltung.users.*'}" class="child" ng-if="'protected.verwaltung' | includedByState">
                 <md-icon>people</md-icon>
                 <span>Nutzer</span>
             </md-list-item>
             <md-list-item ui-sref="protected.verwaltung.process.start" ui-sref-active="{'active': 'protected.verwaltung.process.*'}" class="child" ng-if="'protected.verwaltung' | includedByState">
                 <md-icon>settings</md-icon>
                 <span>Prozesse</span>
             </md-list-item>
             <md-divider ng-if="'protected.verwaltung' | includedByState"></md-divider>

        <!-- <md-divider ></md-divider>
         <md-list-item md-colors="::{backgroundColor: 'default-grey-400'}" id="searchBox">
             <md-icon>search</md-icon>
            <div flex="50">
             <md-input-container class="md-block">
                 <label>LT-Name</label>
                 <md-icon>shopping_cart</md-icon>
                 <input  name="popup_lt" ng-model="toolCtrl.input.popup_lt">
                 <div ng-messages="popup.popup_lt.$error">
                     <div ng-message="required">Pflichtfeld</div>
                 </div>
             </md-input-container>
             <md-input-container class="md-block">
                 <label>Scancode</label>
                 <md-icon>local_offer</md-icon>
                 <input  name="popup_article" ng-model="toolCtrl.input.popup_article">
                 <div ng-messages="popup.popup_article.$error">
                     <div ng-message="required">Pflichtfeld</div>
                 </div>
             </md-input-container>
            </div>
         </md-list-item>-->
     </md-list>
     <md-content layout-margin >
         <p ng-click="toolCtrl.simpleAlert.show($event,toolCtrl.helpers.object_values(toolCtrl.socket.users_connected))">Nutzer online: {{toolCtrl.helpers.object_len(toolCtrl.socket.users_connected)}}</p>
     </md-content>

 </md-sidenav>
 <md-content flex layout="column" id="content">
     <md-progress-linear ng-show="requestRunning" class="md-accent" md-mode="indeterminate"></md-progress-linear>
     <div flex ui-view="protected_content" ></div>

 </md-content>

<link rel="stylesheet" href="/client/style/tool.css">
<link rel="stylesheet" href="/client/style/tool-sidebar.css">