<md-card-title>
    <md-card-title-text>
        <span class="md-headline" ng-show="mainCtrl.auth.var_fp">Passwort vergessen</span>
        <span class="md-headline" ng-show="mainCtrl.auth.var_signup">Registrieren</span>
        <span class="md-headline" ng-hide="mainCtrl.auth.var_fp || mainCtrl.auth.var_signup">Login</span>
    </md-card-title-text>
</md-card-title>

<md-card-content ng-hide="mainCtrl.auth.var_fp || mainCtrl.auth.var_signup">
    <form name="form_login" ng-submit="mainCtrl.auth.login()">
        <p class="help-block" ng-show="errors.login.username"><md-icon>alert</md-icon> Benutzername nicht gefunden</p>
        <p class="help-block" ng-show="errors.login.password"><md-icon>alert</md-icon>falsches Passwort</p>
        <md-input-container class="md-block">
            <label>Benutzername</label>
            <input type="text"required name="login_username" ng-model="mainCtrl.input.login_username">
            <div ng-messages="form_login.login_username.$error">
                <div ng-message="required">Pflichtfeld</div>
            </div>
        </md-input-container>
        <md-input-container class="md-block">
            <label>Passwort</label>
            <input type="password" required name="login_password" ng-model="mainCtrl.input.login_password">
            <div ng-messages="form_login.login_password.$error">
                <div ng-message="required">Pflichtfeld</div>
            </div>
        </md-input-container>
        <md-card-actions class="md-block">
            <md-input-container layout="row" layout-align="end center">
                <md-button class="md-primary" ng-click="mainCtrl.auth.setVar('fp')">Passwort vergessen</md-button>
                <md-button class="md-primary md-raised" type="submit" ng-disabled="form_login.$invalid">Login</md-button>
            </md-input-container>
            <md-divider></md-divider>
            <md-input-container layout="row" layout-align="start center">
                <md-button class="md-accent" ng-click="mainCtrl.auth.setVar('signup')">Neuen Account erstellen</md-button>
            </md-input-container>
        </md-card-actions>
    </form>

</md-card-content>


<md-card-content ng-show="mainCtrl.auth.var_fp">
    <form ng-submit="mainCtrl.auth.sendNewPassword()" name="form_forgot" >
        <md-input-container class="md-block">
            <label>hinterlegte eMail-Adresse</label>
            <input type="email"required name="login_email" ng-model="mainCtrl.input.login_email">
            <div ng-messages="form_forgot.login_email.$error">
                <div ng-message="required">Pflichtfeld</div>
            </div>
        </md-input-container>
        <md-card-actions layout="row" layout-align="end center">
            <md-button class="md-warn" ng-click="mainCtrl.auth.setVar('fp',false)">abbrechen</md-button>
            <md-button class="md-warn md-raised" type="submit">neues Passwort zusenden</md-button>
        </md-card-actions>
    </form>
</md-card-content>

<md-card-content ng-show="mainCtrl.auth.var_signup">
    <form ng-submit="mainCtrl.auth.signup()" name="mainCtrl.form_register"  autocomplete="off">
        <div ng-messages="mainCtrl.form_register.register_username.$error" ng-show="mainCtrl.form_register.register_username.$touched" class="md-error">
            <div ng-message="required">Pflichtfeld</div>
            <div ng-message="unique">Benutzername vergeben</div>
        </div>
        <md-input-container class="md-block">
            <label>Benutzername</label>
            <input type="text" required name="register_username" ng-model="mainCtrl.input.register.username" autocomplete="off">
        </md-input-container>

        <div ng-messages="mainCtrl.form_register.register_password.$error" ng-show="mainCtrl.form_register.register_password.$touched" class="md-error">
            <div ng-message="required">Pflichtfeld</div>
            <div ng-message="pattern">min. 1 Groß- und Kleinbuchstabe</div>
            <div ng-message="minlength">Min. 6 Zeichen</div>
        </div>
        <md-input-container class="md-block">
            <label>Passwort</label>
            <input type="password" required name="register_password" ng-model="mainCtrl.input.register.pass" minlength="6" pattern="^(?=.*[a-z])(?=.*[A-Z]).{6,99}$">
        </md-input-container>

        <div ng-messages="mainCtrl.form_register.register_mail.$error"  ng-show="mainCtrl.form_register.register_username.$touched" class="md-error">
            <div ng-message="required">Pflichtfeld</div>
            <div ng-message="unique">eMail-Adresse vergeben</div>
            <div ng-message="email">Format der EMail falsch</div>
        </div>
        <md-input-container class="md-block">
            <label>eMail-Adresse</label>
            <input type="email" required name="register_mail" ng-model="mainCtrl.input.register.mail">
        </md-input-container>

        <md-card-actions layout="row" layout-align="end center">
            <md-button class="md-warn" ng-click="mainCtrl.auth.setVar('signup',false)">abbrechen</md-button>
            <md-button class="md-accent md-raised" type="submit">registrieren</md-button>
        </md-card-actions>
    </form>

</md-card-content>

<!--


    <div class="row">
        <h3>SignUp</h3>
    </div>
    <div class="row">
        <form ng-submit="mainCtrl.auth.signup()" name="mainCtrl.form_signup" class="col-xs-6">
            <p class="help-block" ng-model="errors.signup.usernametaken" ng-show="errors.signup.usernametaken">Benutzername ist vergeben</p>
            <p class="help-block" ng-model="errors.signup.emailtaken" ng-show="errors.signup.emailtaken">EMail-Adresse ist vergeben</p>
            <p class="help-block" ng-model="errors.signup.error" ng-show="errors.signup.error">{{errors.signup.error}}</p>

            <div class="form-group" ng-class="{ 'has-error' : mainCtrl.form_signup.email.$invalid && !mainCtrl.form_signup.email.$pristine }">
                <label>eMail</label>
                <input type="email" name="email" class="form-control" ng-model="mainCtrl.input.signup_email" required="" placeholder="eMail-Adresse">
                <p ng-show="mainCtrl.form_signup.email.$invalid && !mainCtrl.form_signup.email.$pristine" class="help-block">Enter a valid email.</p>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : mainCtrl.form_signup.username.$invalid && !mainCtrl.form_signup.username.$pristine }">
                <label>Benutzername</label>
                <input type="text" name="username" class="form-control" ng-model="mainCtrl.input.signup_username" ng-minlength="3" required="" placeholder="Benutzername (min 3 Zeichen)">
                <p ng-show="mainCtrl.form_signup.username.$error.minlength" class="help-block">Username is too short.</p>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : mainCtrl.form_signup.password.$invalid && !mainCtrl.form_signup.password.$pristine }">
                <label>Passwort</label>
                <input type="password" name="password" class="form-control" ng-model="mainCtrl.input.signup_password" ng-minlength="6" placeholder="**** (min 6 Zeichen)">
                <p ng-show="mainCtrl.form_signup.password.$error.minlength" class="help-block">Password is too short.</p>
            </div>
            <button type="submit" class="btn btn-primary" ng-disabled="mainCtrl.form_signup.$invalid">Registrieren</button>
        </form>
    </div>
</div>
-->