<md-card-title>
    <md-card-title-text>
        <span class="md-headline">Registrierung abgeschlossen</span>
    </md-card-title-text>
</md-card-title>

<md-card-content ng-if="mainCtrl.input.register.mail">
    <p>Die Registrierung wurde erfolgreich abgeschlossen. Du hast eine Bestätigungsmail an:{{mainCtrl.input.register.mail}} erhalten. <br>Melde dich nun mit deinen gewählten Daten an.</p>
</md-card-content>

<md-card-content ng-if="!mainCtrl.input.register.mail">
    <p>Es ist ein Fehler aufgetreten</p>
</md-card-content>