<md-dialog aria-label="create Order" id="dialog_orderCreate" flex>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>neuen Auftrag erstellen</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="dialogCtrl.callback.ui_cancel()">
                    <md-icon aria-label="Close dialog">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <md-tabs md-border-bottom >
                <md-tab label="Stammdaten">
                    <md-content class="md-padding">
                        <form name="orderCreate" layout="column">
                            <div ng-show="!dialogCtrl.newCustomer.show" layout="row">
                                <section layout="column">
                                    <div ng-messages="orderCreate.customername.$error" ng-if="orderCreate.customername.$touched" class="md-error">
                                        <div ng-message="required">Kundenname muss angegeben werden.</div>
                                        <div ng-message="md-require-match">Wähle einen gültigen Eintrag aus.</div>
                                    </div>
                                    <md-autocomplete
                                            md-menu-class="menu_customer"
                                            required="required"
                                            md-input-name="customername"
                                            md-selected-item="dialogCtrl.input.customer"
                                            md-search-text="dialogCtrl.searchtext"
                                            md-items="item in dialogCtrl.customers_search(dialogCtrl.searchtext)"
                                            md-item-text="item.name"
                                            md-min-length="0"
                                            md-require-match
                                            md-select-on-match
                                            md-floating-label="Kundenname">
                                        <md-item-template>
                                            <span md-highlight-text="dialogCtrl.searchtext" md-highlight-flags="i">{{item.name}}</span>
                                        </md-item-template>
                                        <md-not-found>
                                            No states matching "{{dialogCtrl.searchtext}}" were found.
                                        </md-not-found>
                                    </md-autocomplete>
                                </section>


                                <md-button flex="20" ng-click="dialogCtrl.newCustomer.show=!dialogCtrl.newCustomer.show"  >
                                    <md-icon>add</md-icon> Kunden anlegen
                                </md-button>
                            </div>
                            <div>
                                <md-input-container>
                                    <label>Kommentar </label>
                                    <textarea ng-model="dialogCtrl.input.description" md-maxlength="250" md-select-on-focus></textarea>
                                    <md-icon>info <md-tooltip>Nicht auf Artikelebene sichtbar</md-tooltip></md-icon>
                                </md-input-container>
                            </div>
                            <div ng-show="dialogCtrl.newCustomer.show" layout="column" >
                                <md-card >
                                    <md-card-title>
                                        <md-card-title-text>
                                            <md-input-container>
                                                <label>Kundenname</label>
                                                <input ng-model="dialogCtrl.newCustomer.name" required>
                                            </md-input-container>
                                            <md-input-container>
                                                <label>Zuumeo KeyAccount</label>
                                                <md-contact-chips
                                                        ng-model="dialogCtrl.newCustomer.users"
                                                        md-contacts="dialogCtrl.users_search($query)"
                                                        md-contact-name="name"
                                                        md-contact-image="avatar"
                                                        md-contact-email="name"
                                                        md-require-match="true"
                                                        md-highlight-flags="i"
                                                        md-min-length="2"
                                                        placeholder="Name KeyAccount"
                                                        secondary-placeholder="Name KeyAccount">
                                                </md-contact-chips>
                                            </md-input-container>
                                            <div layout="row">
                                                <section flex="50">
                                                    <section layout="row">
                                                        <md-input-container>
                                                            <label>Ansprechpartner</label>
                                                            <input ng-model="dialogCtrl.newCustomer.person">
                                                        </md-input-container>
                                                    </section>
                                                    <section layout="row">
                                                        <md-input-container>
                                                            <label>Strasse / Hausnummer</label>
                                                            <input ng-model="dialogCtrl.newCustomer.street">
                                                        </md-input-container>
                                                    </section>
                                                    <section layout="row">
                                                        <md-input-container>
                                                            <label>PLZ</label>
                                                            <input ng-model="dialogCtrl.newCustomer.postal">
                                                        </md-input-container>
                                                        <md-input-container>
                                                            <label>Ort</label>
                                                            <input ng-model="dialogCtrl.newCustomer.city">
                                                        </md-input-container>
                                                    </section>
                                                </section>
                                            </div>
                                        </md-card-title-text>
                                    </md-card-title>
                                    <md-card-actions layout="row" layout-align="end center">
                                        <md-button ng-click="dialogCtrl.newCustomer.submit()" class="md-raised md-primary">
                                            <md-icon>check</md-icon> anlegen
                                        </md-button>
                                        <md-button class="md-raised md-warn" ng-click="dialogCtrl.newCustomer.show=false">
                                            <md-icon>close</md-icon> abbrechen
                                        </md-button>
                                    </md-card-actions>
                                </md-card>
                            </div>
                        </form>
                    </md-content>
                </md-tab>
                <md-tab label="Artikel">
                    <md-content class="md-padding">
                    <section layout="row" layout-align="end center">
                        <filereader
                                data-cb="dialogCtrl.csv_articlesToForm(data)"
                                data-accept=".csv"
                                data-label-class="md-primary"
                                data-label-text="CSV-Datei einspielen"
                                flex
                        ></filereader>

                        <md-button class="md-raised md-warn" ng-show="dialogCtrl.rows.length>0" ng-click="dialogCtrl.rows=[];dialogCtrl.formconfig.show = true;">
                            <md-icon>check</md-icon>
                            <span>Spalten neu einlesen</span>
                        </md-button>
                        <md-button class="md-raised md-accent" ng-hide="dialogCtrl.rows.length>0" ng-disabled="!dialogCtrl.input.cols" ng-click="dialogCtrl.filecontentToRows()">
                            <md-icon>check</md-icon>
                            <span>Spalten übernehmen</span>
                        </md-button>


                    </section>
                    <section ng-show="dialogCtrl.formconfig.show && dialogCtrl.filecontent.length>0">
                        <md-table-container>
                            <table md-table>
                                <thead md-head>

                                    <tr md-row>
                                        <th><md-tooltip>ausschließen</md-tooltip><md-icon>block</md-icon></th>
                                        <th md-column ng-repeat="col in dialogCtrl.filecontent[0] track by $index ">
                                            <md-input-container>
                                                <label>Feldname {{($index+1)}} </label>
                                                <md-select ng-model="dialogCtrl.input.cols[$index]">


                                                    <md-optgroup label="Stammdaten">
                                                        <md-option value="san">SAN/Artikelnummer</md-option>
                                                        <md-option value="scancode">scannbarer Code</md-option>
                                                        <md-option value="gender">Geschlecht</md-option>
                                                        <md-option value="wg">Warengruppe</md-option>
                                                        <md-option value="process">Prozess</md-option>
                                                    </md-optgroup>
                                                    <md-optgroup label="Optional">
                                                        <md-option value="stockkey">Kundenreferenz</md-option>
                                                        <md-option value="comment_log">Kommentar Logistik</md-option>
                                                        <md-option value="comment_prod">Kommentar Produktion</md-option>
                                                    </md-optgroup>
                                                    <md-option value="0">nicht relevant</md-option>
                                                </md-select>
                                            </md-input-container>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody md-body>
                                <tr md-row ng-repeat="row in dialogCtrl.filecontent | limitTo:dialogCtrl.row_max" class="text-right">
                                    <td><md-checkbox ng-model="dialogCtrl.rows_exlude[$index]" ng-true-value="{{$index}}" ng-false-value="undefined"></md-checkbox></td>
                                    <td md-cell ng-repeat="col in row track by $index ">
                                        <span>{{col}}</span>
                                    </td>
                                </tr>
                                <tr ng-show="dialogCtrl.row_max">
                                    <td colspan="{{dialogCtrl.filecontent[3].length}}">
                                        <a ng-click="dialogCtrl.row_max=undefined">{{(dialogCtrl.filecontent.length-dialogCtrl.row_max)}} weitere Zeilen</a>
                                    </td>
                                </tr>
                                <tr ng-hide="dialogCtrl.row_max">
                                    <td colspan="{{dialogCtrl.filecontent[3].length}}">
                                        <span ng-click="dialogCtrl.row_max=3">Zeilen ausblenden</span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </md-table-container>
                    </section>
                    <section ng-show="dialogCtrl.rows.length>0">

                        <md-table-container style="width:100%;">
                            <table md-table class="table-borderd">
                                <thead md-head>

                                    <tr md-row layout="row">
                                        <th md-column class="table-th-dark" flex="10">Artikelnummer</th>
                                        <th md-column class="table-th-dark" flex="10">Scancode</th>
                                        <th md-column class="table-th-dark" flex="10">Geschlecht</th>
                                        <th md-column class="table-th-dark" flex="10">Warengruppe</th>
                                        <th md-column class="table-th-dark" flex="10">Prozess</th>
                                        <th md-column class="table-th-dark" flex="10">Kundenreferenz</th>
                                        <th md-column class="table-th-dark" flex="10">Kommentar Logistik</th>
                                        <th md-column class="table-th-dark" flex="10">Kommentar Produktion</th>
                                    </tr>
                                </thead>
                                <tbody md-body>
                                    <tr md-row ng-repeat="row in dialogCtrl.rows" class="text-right" md-colors="::{background: ($index%2==0)?'primary-50-0.5':''}">
                                        <td md-cell>
                                            <input ng-model="row['san']">
                                        </td>
                                        <td md-cell>
                                            <input ng-model="row['scancode']">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </md-table-container>
                    </section>
                        {{dialogCtrl.rows}}
                    </md-content>
                </md-tab>
            </md-tabs>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex class="log" md-colors="{color:'accent'}"></span>
            <md-button type="submit" ng-disabled="orderCreate.$invalid" ng-click="dialogCtrl.callback.ui_answer()">
                Auftrag anlegen
            </md-button>
            {{dialogCtrl.input}}
        </md-dialog-actions>

</md-dialog>
