<md-dialog aria-label="create Order" id="dialog_orderCreate" flex>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>neuen Auftrag erstellen</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="dialogCtrl.callback.ui_cancel()">
                    <md-icon aria-label="Close dialog">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <md-tabs md-border-bottom >
                <md-tab label="Stammdaten">
                    <md-content class="md-padding">
                        <form name="orderCreate" layout="column">
                            <div ng-show="!dialogCtrl.newCustomer.show" layout="row">
                                <section layout="column">
                                    <div ng-messages="orderCreate.customername.$error" ng-if="orderCreate.customername.$touched" class="md-error">
                                        <div ng-message="required">Kundenname muss angegeben werden.</div>
                                        <div ng-message="md-require-match">Wähle einen gültigen Eintrag aus.</div>
                                    </div>
                                    <md-autocomplete
                                            md-menu-class="menu_customer"
                                            required="required"
                                            md-input-name="customername"
                                            md-selected-item="dialogCtrl.input.customer"
                                            md-search-text="dialogCtrl.searchtext"
                                            md-items="item in dialogCtrl.customers_search(dialogCtrl.searchtext)"
                                            md-item-text="item.name"
                                            md-min-length="0"
                                            md-require-match
                                            md-select-on-match
                                            md-floating-label="Kundenname"
                                            md-selected-item-change="dialogCtrl.input.users = [{id: item.userID,name: item.userName,username: item.userUsername, avatar: userAvatar}]"
                                    >
                                        <md-item-template>
                                            <span md-highlight-text="dialogCtrl.searchtext" md-highlight-flags="i">{{item.name}}</span>
                                        </md-item-template>
                                        <md-not-found>
                                            No states matching "{{dialogCtrl.searchtext}}" were found.
                                        </md-not-found>
                                    </md-autocomplete>
                                </section>
                                <md-button flex="20" ng-click="dialogCtrl.newCustomer.show=!dialogCtrl.newCustomer.show"  >
                                    <md-icon>add</md-icon> Kunden anlegen
                                </md-button>
                            </div>

                            <div>
                                <md-input-container>
                                <label>Zuumeo KeyAccount</label>
                                <md-contact-chips
                                        ng-model="dialogCtrl.input.users"
                                        md-contacts="dialogCtrl.users_search($query)"
                                        md-contact-name="name"
                                        md-contact-image="avatar"
                                        md-contact-email="username"
                                        md-require-match="true"
                                        md-highlight-flags="i"
                                        md-min-length="2"
                                        placeholder="Name KeyAccount"
                                        secondary-placeholder="Name KeyAccount">
                                </md-contact-chips>
                            </md-input-container>
                            </div>
                            <div>
                                <md-input-container>
                                    <label>Kommentar </label>
                                    <textarea ng-model="dialogCtrl.input.description" md-maxlength="250" md-select-on-focus></textarea>
                                    <md-icon>info <md-tooltip>Nicht auf Artikelebene sichtbar</md-tooltip></md-icon>
                                </md-input-container>
                            </div>
                        </form>
                            <div ng-show="dialogCtrl.newCustomer.show" layout="column" >
                                <md-card >
                                    <md-card-title>
                                        <md-card-title-text>
                                            <md-input-container>
                                                <label>Kundenname</label>
                                                <input ng-model="dialogCtrl.newCustomer.name" required>
                                            </md-input-container>
                                            <md-input-container>
                                                <label>Zuumeo KeyAccount</label>
                                                <md-contact-chips
                                                        ng-model="dialogCtrl.newCustomer.users"
                                                        md-contacts="dialogCtrl.users_search($query)"
                                                        md-contact-name="name"
                                                        md-contact-image="avatar"
                                                        md-contact-email="username"
                                                        md-require-match="true"
                                                        md-highlight-flags="i"
                                                        md-min-length="2"
                                                        secondary-placeholder="Name eingeben">
                                                </md-contact-chips>
                                            </md-input-container>
                                            <div layout="row">
                                                <section flex="50">
                                                    <section layout="row">
                                                        <md-input-container>
                                                            <label>Ansprechpartner</label>
                                                            <input ng-model="dialogCtrl.newCustomer.person">
                                                        </md-input-container>
                                                    </section>
                                                    <section layout="row">
                                                        <md-input-container>
                                                            <label>Strasse / Hausnummer</label>
                                                            <input ng-model="dialogCtrl.newCustomer.street">
                                                        </md-input-container>
                                                    </section>
                                                    <section layout="row">
                                                        <md-input-container>
                                                            <label>PLZ</label>
                                                            <input ng-model="dialogCtrl.newCustomer.postal">
                                                        </md-input-container>
                                                        <md-input-container>
                                                            <label>Ort</label>
                                                            <input ng-model="dialogCtrl.newCustomer.city">
                                                        </md-input-container>
                                                    </section>
                                                </section>
                                            </div>
                                        </md-card-title-text>
                                    </md-card-title>
                                    <md-card-actions layout="row" layout-align="end center">
                                        <md-button ng-click="dialogCtrl.newCustomer.submit()" class="md-raised md-primary">
                                            <md-icon>check</md-icon> anlegen
                                        </md-button>
                                        <md-button class="md-raised md-warn" ng-click="dialogCtrl.newCustomer.show=false">
                                            <md-icon>close</md-icon> abbrechen
                                        </md-button>
                                    </md-card-actions>
                                </md-card>
                            </div>
                        {{dialogCtrl.input}}
                    </md-content>
                </md-tab>

            </md-tabs>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex class="log" md-colors="{color:'accent'}"></span>
            <md-button type="submit" class="md-primary md-raised" ng-disabled="orderCreate.$invalid===true" ng-click="dialogCtrl.callback.ui_answer(dialogCtrl.input)">
                Auftrag anlegen
            </md-button>

        </md-dialog-actions>

</md-dialog>
